//Variable overrides
$body-bg: #c9c9c9;
$theme-colors: (
    "primary": #12022b
);

$font-family-base: 'Roboto Mono', monospace;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219); 
}

.navbar {
    text-transform: uppercase;
};

.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

html {
    padding: 0 !important;
    margin: 0 !important;
}
//Bootstrap Sass files
@import "node_modules/bootstrap/scss/bootstrap";

