//Variable overrides
$body-bg: #e2d5c4;
$theme-colors: (
    "primary": #3d5f6a
);

$font-family-base: 'Lato';

.lead {
    font-weight: 200 !important;
}

.jumbotron {
    background-color: #e2d5c4 !important;
    border-top: 3px solid rgb(219, 219, 219); 
}

.shadow-5 {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
  }

#greeting {
    font-family: "Inknut Antiqua";
    font-weight: 600;
}

.navbar {
    text-transform: uppercase;
};

.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

html {
    padding: 0 !important;
    margin: 0 !important;
}

img {
    max-height: 100%;
    max-width: 100%;
}
//Bootstrap Sass files
@import "node_modules/bootstrap/scss/bootstrap";

